{% macro search_bar(id, placeholder) %}
<input type="text" id="{{ id }}" class="form-control" placeholder="{{ placeholder }}" autocomplete="off" style="border-radius: 16px;">
<!-- <form class="input-group search-bar shadow-sm" method="get" action="{{ action }}">
    <input type="text" class="form-control border-0 ps-4" name="q" placeholder="{{ placeholder }}" value="{{ current_query }}">
    <button class="btn btn-link text-primary fw-bold pe-4 text-decoration-none" type="submit">🔍</button>
</form> -->
{% endmacro %}